/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
*   Begin styling
*/

html:root {
    --darkest-blue: #113F67;
    --medium-blue: #34699A;
    --lightest-blue: #58A0C8;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    padding: 2rem;
    background-color: var(--darkest-blue);
    color: white;
    font-size: 3rem;
}

.game-area {
    display: flex;
    flex: 1;
    max-height: 90vh;
    background-color: white;
    justify-content: center;
}

.game-container {
    max-width: 100vw;
    min-width: 25vw;
}

.game-window {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 25%;
    max-height: 100%;
    row-gap: 1%;
    column-gap: 1%;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 5vw);
    background-color: #226bac;
    border-radius: 1rem;
    aspect-ratio: 1;
    color: white;
}

.cell:hover {
    opacity: 95%;
}

.stats-area-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer {
    background-color: var(--darkest-blue);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}